{% extends 'layout/main.html.twig' %}

{% block stylesheets %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{ node | number_format(0, ',', '.') }}</h3>
                <p>Node</p>
            </div>
            <div class="icon">
                <i class="cib-joomla"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{ service | number_format(0, ',', '.') }}</h3>
                <p>Servis</p>
            </div>
            <div class="icon">
                <i class="cil-room"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>{{ endpoint | number_format(0, ',', '.') }}</h3>
                <p>Endpoint</p>
            </div>
            <div class="icon">
                <i class="cil-sync"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>{{ uptime | number_format(2, ',', '.') }}<sup style="font-size: 20px;">%</sup></h3>
                <p>Uptime</p>
            </div>
            <div class="icon">
                <i class="cib-adguard"></i>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}
